*{
    box-sizing: border-box;
}

body{
    margin: 0 0;
    background-color: #ccddff;
}
.userform{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

.userform input{
    font-size: 1.5 em;
    height: 1.9rem
}

.log,.reg-btn{
    margin: 1rem 1rem;
    border-radius: 0.2rem;
    border-style: none;
    height: 2rem;
    transition: all 0.5s ease-in;
    scale: 1;
}

.log:hover,
.log:focus,
.reg-btn:hover,
.reg-btn:focus{
    transform: scale(1.3);
    cursor: pointer;
}
.boxs{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.linky{
    font-size: 1rem;
}